{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container col-8 mx-auto">
  <div class="d-flex justify-content-between">
    <h3>Question</h3>
    <a href="{% url 'create-answer' question.id %}"><button class="btn btn-dark">Add your Answer</button></a>
  </div>
  <p>{{question.description}}</p>
  <h6>From Topic: {{question.topic}}</h6>
  <div class="d-flex gap-4">
    <div class="d-flex gap-2 align-items-center">
      <a href="{% url 'like-question' question.id %}" class="text-black"><i class="fa fa-thumbs-{% if not question.liked %}o-{% endif %}up fa-2x" aria-hidden="true"></i></a
      ><span>{{question.liked_by.count}}</span>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <a href="{% url 'dislike-question' question.id %}" class="text-black"><i class="fa fa-thumbs-{% if not question.disliked %}o-{% endif %}down fa-2x" aria-hidden="true"></i></a
        ><span>{{question.disliked_by.count}}</span>
    </div>
  </div>
  <hr />
  <h3>Answers</h3>
  {% for answer in answers %}
  <div class="d-flex flex-column gap-1">
    <span>{{answer.description}}</span>
    <span>Answered by: {{answer.user.username}}</span>
    <div class="d-flex gap-4">
      <div class="d-flex gap-2 align-items-center">
        <a href="{% url 'like-answer' answer.id %}" class="text-black"><i class="fa fa-thumbs-{% if not answer.liked %}o-{% endif %}up fa-2x" aria-hidden="true"></i></a
          ><span>{{answer.liked_by.count}}</span>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <a href="{% url 'dislike-answer' answer.id %}" class="text-black"><i class="fa fa-thumbs-{% if not answer.disliked %}o-{% endif %}down fa-2x" aria-hidden="true"></i></a
          ><span>{{answer.disliked_by.count}}</span>
      </div>
    </div>
  </div>
  <hr />
  {% endfor %}
</div>
{% endblock %}
